<div class="flex-container">
    <div style="padding: 10px">
      <img class="circular-img" src="https://www.xiaotiandai.com/img/portrait.jpg" alt="portrait">
    </div>
    <div style="padding: 10px">
      <p>
      Research Associate<br>
      Real-Time Systems Research Group (RTSRG)<br>
      University of York<br>
      York, United Kingdom
      </p>
      <p>
      Address:<br>
      Room CSE/123<br>
      Department of Computer Science<br>
      University of York, York, UK<br>
      YO10 5GH
      </p>
      <p>Email: <br>
      xiaotian.dai (at) york.ac.uk</p>
    </div>
  </div>

  <style>
      .flex {
  padding-right: 50px;
}

.flex-container {
  display: flex;
	flex-wrap: wrap;
}

.circular-img {
  position: relative;
  width: 260px;
  height: 300px;
  overflow: hidden;
  border-radius: 5%;
}

.container-twocolumn { display: flex; align-items: baseline;}
.column-2-1 { display: inline-block; width: 120px; white-space: normal; }
.column-2-2 { display: inline-block; width: 900px; white-space: normal; }

.row{ display: flex; clear: both; align-items: flex-start;}
.col-md {display: inline-block; width: 50%; padding-right: 50px; white-space: normal;}

  </style>